
<div class="container-fluid">
  <div class="row">
    <div class="span10">
      <h1>Informe de Actividades Realizadas durante Semanas Nacionales de Salud Bucal</h1>
    </div>
  </div>
</div>
<br />
<br />





<%= render 'form' %>

<%= link_to 'Volver', formularios_path %>
