<header class="navbar navbar-fixed-top">
  <div class="navbar-inner-salud">
    <div class="container">
      <%= link_to "Secretaría de salud", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">

          <% if user_signed_in? %>

             <li> <%= link_to "Cerrar sesión",destroy_user_session_path, :method => :delete, :class => "navbar-letras-salud" %></li>
          <% else %>
             <li><%= link_to "Ingresa", new_user_session_path,:class => "navbar-letras-salud" %></li>
          <% end %>



        </ul>
      </nav>
    </div>
  </div>
</header>

